*{
    background-color:lightblue;
    
}
#head{
    background-color: lightblue;
    color: black;
    text-align: center;
}
h1{
    background-color: lightblue;

}
.sec1
{
    font-family: sans-serif;
}
h2{
    background-color:lightslategrey;
    color:whitesmoke;
}
p,h5,ul{
    font-family: sans-serif;
}